* {
  --gradient-color-100-primary: rgba(107, 20, 208, 1);
  --gradient-color-100-secondary: rgba(198, 32, 145, 1);

  --gradient-color-200-primary: rgba(29, 9, 27, 1);
  --gradient-color-200-secondary: rgba(30, 13, 68, 1);

  --gradient-color-300-primary: #0e040d;
  --gradient-color-300-secondary: #0b041b;
}

body {
  margin: 0 !important;
  background-color: black;
}
p {
  margin-block-start: 0em !important  ;
  margin-block-end: 0em !important;
}
button {
  text-transform: unset !important;
}
#header-height-space {
  height: 90px;
}
@media (max-width: 460px) {
  #header-height-space {
    height: 70px;
  }
}

/*  ---------tap highlight in mobile--------- */
html {
  -webkit-tap-highlight-color: transparent;
}

/*  ---------aos override--------- */
html:not(.no-js) [data-aos="fade-up"] {
  transform: translate3d(0, 20px, 0);
}
html:not(.no-js) [data-aos="fade-left"] {
  transform: translate3d(40px, 0, 0);
}
