.bannerWrapper {
  width: 100%;
  height: 600px;
  position: relative;
}

.bannerWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--pageBannerImage);
  background-size: cover;
  filter: brightness(0.4);
  z-index: 0;
}
.bannerWrapper p {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 50px;
  transform: translate(50%, -50%);
  color: #d2d2d2;
}
